@import "../../../../../style/color";

.arrowWrapper {
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.backToPosts {
    margin-top: 35px;
    display: flex;
}

.postWrapper {
    margin-top: 36px;
}

.blogDescription {
    display: flex;
    align-items: center;

    & .imgWrapper {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
            width: 24px;
            height: 24px;
            margin-right: 12px;
        }
    }
}
.blogName{
    margin-left: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: $mainColor;
}

.postDescription{
    margin-top: 40px;
}


.postTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 109%;
    color: $mainColor;
}

.postDate {
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.02em;
    color: $text-gray;
}

.mainImg{
    width: 940px;
    height: 432px;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        width: 84px;
        height: 84px;
    }
}

.content{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $mainColor;
}




